.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 500px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h3 {
    color: var(--btn);
}

.title {
    font-size: 54px;
}

.subtitle {
    font-size: 24px;
    color: var(--btn);
}

.description {
    font-size: 20px;
    font-weight: 300;
}

.img {
    object-fit: contain;
}
